{{define "nav"}}
<nav>
  <a class="{{if eq .Path "/"}}active{{end}}" href="/">Home</a>
  <a class="{{if hasPrefix .Path "/posts/"}}active{{end}}" href="/posts/" class="active">Posts</a>
  <!-- <a class="{{if hasPrefix .Path "/projects/"}}active{{end}}" href="/projects/" class="active">Projects</a> -->
  <!-- <a class="{{if hasPrefix .Path "/about/"}}active{{end}}" href="/about/" class="active">About</a> -->
  <div class="spacer"></div>
  {{if eq .User.Username ""}}
  <a class="{{if hasPrefix .Path "/login/"}}active{{end}}" href="/login/" class="active">Login</a>
  {{else}}
  <a class="{{if hasPrefix .Path "/profile/"}}active{{end}}" href="/profile/" class="active">{{.User.Username}}</a>
  {{end}}
</nav>
{{end}}
