.contentbox-container {
  width: 100%;
  max-width: 80rem;
}
@media (min-width: 60rem) {
  .contentbox-container {
    margin-top: 10vh;
    margin-bottom: 10vh;
  }
}

.contentbox-double-borders {
  border: none;
  /* padding: 0; */
}
.contentbox-decoration-anchor {
  position: relative;
  margin-top: 20px; /* Make room for checkerboard decoration */
  background: var(--background-color);
}
.contentbox-decoration-anchor::before {
  /* Checkerboard decoration */

  /* Positioning */
  position: absolute;
  top: -20px;
  right: 0;
  left: 0;
  height: 15px;

  /* Content */
  content: "";
  --checkerboard-gradient: linear-gradient(
    to right,
    transparent 25%,
    black 100%
  );
  -webkit-mask-image: var(--checkerboard-gradient);
  mask-image: var(--checkerboard-gradient);
  background-image: conic-gradient(
    transparent 0% 25%,
    var(--decoration-color) 25% 50%,
    transparent 50% 75%,
    var(--decoration-color) 75% 100%
  );
  background-size: 15px 15px;

  /* Animation */
  animation-name: decoration-animation;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes decoration-animation {
  from {
    background-position: 15px 0;
  }
  to {
    background-position: 0 0;
  }
}
@media (min-width: 35rem) {
  .contentbox-double-borders {
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border: 3px solid var(--accent-color);
    position: relative;
    background: var(--background-color);
    padding: 5px;

    width: calc(100% - 15px);
  }

  .contentbox-decoration-anchor {
    /* Make room for hatching decorations */
    margin-right: 15px;
    margin-bottom: 15px;
  }
  .contentbox-decoration-anchor::before {
    /* Shorten checkerboard for larger screens */
    --checkerboard-gradient: linear-gradient(
      to right,
      transparent 50%,
      black 100%
    );
  }
  .contentbox-decoration-anchor::after {
    /* Hatching decoration */

    /* Positioning */
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: -15px;
    right: -15px;
    z-index: -1;

    /* Content */
    content: "";
    background-image: linear-gradient(
      45deg,
      var(--decoration-color) 0% 4.8828125%,
      transparent 4.8828125% 20.1171875%,
      var(--decoration-color) 20.1171875% 29.8828125%,
      transparent 29.8828125% 45.1171875%,
      var(--decoration-color) 45.1171875% 54.8828125%,
      transparent 54.8828125% 70.1171875%,
      var(--decoration-color) 70.1171875% 79.8828125%,
      transparent 79.8828125% 95.1171875%,
      var(--decoration-color) 95.1171875% 100%
    );
    background-size: 15px 15px;
    border-bottom-right-radius: 30px;

    /* Make it fade */
    --mask-image:
      linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 20px),
      linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 1) 20px);
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    -webkit-mask-composite: source-in;
    mask-composite: intersect;

    /* Animation */
    animation-name: decoration-animation;
    animation-duration: 1s;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}
@supports (-moz-appearance: none) {
  .contentbox-decoration-anchor::after {
    /* Firefox kinda sucks at anti-aliasing. */
    /* Use simpler textures & disable animation to avoid giving the user a seizure... */
    background-image: repeating-linear-gradient(
      45deg,
      var(--decoration-color) 0px 1.325825215px,
      transparent 1.325825215px 3.977475644px,
      var(--decoration-color) 3.977475644px 6.629126073px,
      transparent 6.629126073px 9.280776502px,
      var(--decoration-color) 9.280776502px 11.932426931px,
      transparent 11.932426931px 14.58407736px,
      var(--decoration-color) 14.58407736px 17.235727789px,
      transparent 17.235727789px 19.887378245px,
      var(--decoration-color) 19.887378245px 21.213203436px
    );
    background-size: unset;
    animation: none;
  }
}

.contentbox-innerwindow {
  border: 3px solid var(--accent-color);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.window-decorations {
  display: flex;
  padding: 5px;
  height: 40px;
  border-top-left-radius: 20px;
  border-bottom: 3px solid var(--accent-color);
  background: linear-gradient(
    45deg,
    var(--gradient-1) 0%,
    var(--gradient-2) 20%,
    var(--gradient-1) 20%,
    var(--gradient-2) 50%,
    var(--gradient-1) 50%,
    var(--gradient-2) calc(100% - 100px),
    var(--gradient-1) calc(100% - 100px)
  );
}
.window-decoration {
  margin-left: 5px;
}
