.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.center {
  align-items: center;
  justify-content: center;
}
.f-grow {
  flex-grow: 1;
}
.f-align-start {
  align-items: flex-start;
}
.f-align-stretch {
  align-items: stretch;
}
.gap-half {
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}

.spacer {
  margin: auto;
}

.space-right {
  margin-right: auto;
}

.ma-1 {
  margin: 1rem;
}
.ml-1 {
  margin-left: 1rem;
}
.mr-1 {
  margin-right: 1rem;
}

.fs-reg {
  font-size: 1rem;
}

.text-center {
  text-align: center;
}

.ghost-text {
  color: var(--text-faded-color);
}
