<!DOCTYPE html>
<html class="{{.DailyTheme}} eye-candy">
  <head>
    <title>{{.Config.SiteSettings.Title}}</title>
    {{ template "globalhead" . }}
    <meta name="description" content="In which I showcase my projects & deep-dive into technical concepts.">
  </head>
  <body class="flex column nowrap center">
    <div class="contentbox-container margin-auto">
      <div class="contentbox-double-borders contentbox-decoration-anchor">
        <div class="contentbox-innerwindow">
          <div class="window-decorations">
            <div class="spacer"></div>
            <img class="window-decoration" src="/decorations/minimize.svg?color=FFFFFF">
            <img class="window-decoration" src="/decorations/maximize.svg?color=FFFFFF">
            <img class="window-decoration" src="/decorations/close.svg?color=FFFFFF">
          </div>
          {{ template "nav" . }}
          <main>
            <h1>Not Found</h1>
            <p>
              The URL you tried to access doesn't exist. Feel free to explore the parts
              of the site that <i>do</i> exist using the navigation bar above.
            </p>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
