<!DOCTYPE html>
<html class="{{.DailyTheme}} eye-candy">
  <head>
    <title>{{.Config.SiteSettings.Title}}</title>
    {{ template "globalhead" . }}
    <link rel="stylesheet" href="/login.css">
    <meta name="description" content="In which I showcase my projects & deep-dive into technical concepts.">
  </head>
  <body class="flex column nowrap center">
    <div class="contentbox-container margin-auto">
      <div class="contentbox-double-borders contentbox-decoration-anchor">
        <div class="contentbox-innerwindow">
          <div class="window-decorations">
            <div class="spacer"></div>
            <img class="window-decoration" src="/decorations/minimize.svg?color=FFFFFF">
            <img class="window-decoration" src="/decorations/maximize.svg?color=FFFFFF">
            <img class="window-decoration" src="/decorations/close.svg?color=FFFFFF">
          </div>
          {{ template "nav" . }}
          <main class="flex column nowrap gap-1">
            <h1>Login</h1>
            <div class="flex row wrap gap-1">
              {{if .Config.Authentication.Local.Enabled}}
              <form action="/auth/local/firstfactor" method="POST" class="local-login flex column nowrap gap-1">
                {{.CsrfField}}
                <div class="fieldbox">
                  <label for="username">Username:</label>
                  <div class="textbox-wrapper">
                    <input
                      id="username"
                      type="text"
                      name="username"
                      autocomplete="username"
                      spellcheck="false"
                    />
                  </div>
                </div>
                <div class="fieldbox">
                  <label for="password">Password:</label>
                  <div class="textbox-wrapper">
                    <input
                      id="password"
                      type="password"
                      name="password"
                      autocomplete="current-password"
                      spellcheck="false"
                    />
                  </div>
                </div>
                <input type="submit" value="Log In" />
              </form>
              {{end}}
              {{if gt (len .Config.Authentication.Oidc) 0}}
              <div class="auth-providers">
                <label>
                  {{if .Config.Authentication.Local.Enabled}}
                  Other
                  {{end}}
                  Providers:
                </label>
                {{range $oidcId, $oidc := .Config.Authentication.Oidc}}
                <a href="/auth/oidc/{{$oidcId}}/begin" class="button">
                  Log In with {{$oidc.Name}}
                </a>
                {{end}}
              </div>
              {{end}}
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
