<!DOCTYPE html>
<html class="{{.DailyTheme}} eye-candy">
  <head>
    <title>{{.Config.SiteSettings.ShortTitle}} - Posts</title>
    {{ template "globalhead" . }}
    <meta name="description" content="{{.Config.SiteSettings.ShortTitle}} - Recent posts" />
  </head>
  <body class="flex column nowrap center">
    <div class="contentbox-container margin-auto">
      <div class="contentbox-double-borders contentbox-decoration-anchor">
        <div class="contentbox-innerwindow">
          <div class="window-decorations">
            <div class="spacer"></div>
            <img
              class="window-decoration"
              src="/decorations/minimize.svg?color=FFFFFF"
            />
            <img
              class="window-decoration"
              src="/decorations/maximize.svg?color=FFFFFF"
            />
            <img
              class="window-decoration"
              src="/decorations/close.svg?color=FFFFFF"
            />
          </div>
          {{ template "nav" . }}
          <main>
            <ul class="post-list">
              {{range .Posts}}
              <li class="post-entry">
                <time class="post-time" datetime="{{.CreatedAt | htmlTime}}"
                  >{{.CreatedAt | formatTime}}</time
                >
                <h3><a href="{{.Url}}">{{.Title}}</a></h3>
                <p class="post-description">{{.Description}}</p>
              </li>
              {{end}}
            </ul>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
