<!DOCTYPE html>
<html class="{{.DailyTheme}} eye-candy">
  <head>
    <title>{{.Config.SiteSettings.ShortTitle}} - Profile</title>
    {{ template "globalhead" . }}
    <meta name="description" content="Manage your profile" />
  </head>
  <body class="flex column nowrap center">
    <div class="contentbox-container margin-auto">
      <div class="contentbox-double-borders contentbox-decoration-anchor">
        <div class="contentbox-innerwindow">
          <div class="window-decorations">
            <div class="spacer"></div>
            <img
              class="window-decoration"
              src="/decorations/minimize.svg?color=FFFFFF"
            />
            <img
              class="window-decoration"
              src="/decorations/maximize.svg?color=FFFFFF"
            />
            <img
              class="window-decoration"
              src="/decorations/close.svg?color=FFFFFF"
            />
          </div>
          {{ template "nav" . }}
          <main>
            <div class="flex row wrap f-align-start gap-1">
              <div class="flex column nowrap f-grow f-align-start gap-1">
                <h1>Welcome, {{.User.Username}}!</h1>
                <table>
                  <tbody>
                    <tr>
                      <td>Username:</td>
                      <td>{{.User.Username}}</td>
                    </tr>
                    <tr>
                      <td>Email:</td>
                      <td>{{.User.Email}}</td>
                    </tr>
                    <tr>
                      <td>Registered at:</td>
                      <td>{{.User.CreatedAt}}</td>
                    </tr>
                  </tbody>
                </table>
                <a href="/profile/edit/" class="button">Edit</a>
                <h2>SSH Keys</h2>
                <span>
                  These are the SSH keys you can use to authenticate on the CLI.
                </span>
                <table class="stylized fs-reg">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Fingerprint</th>
                      <th>Created At</th>
                      <th>Last Used At</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {{range $key := .SSHKeys}}
                    <tr>
                      <td>{{$key.Name}}</td>
                      <td>{{$key.Fingerprint}}</td>
                      <td>
                        <time datetime="{{$key.CreatedAt | htmlTime}}"
                          >{{formatTime $key.CreatedAt}}</time
                        >
                      </td>
                      <td>
                        <time datetime="{{htmlNullTime $key.LastUsedAt}}"
                          >{{formatNullTime $key.LastUsedAt}}</time
                        >
                      </td>
                      <td>
                        <form action="/profile/remove_ssh_key/" method="POST">
                          {{$.CsrfField}}
                          <input
                            type="hidden"
                            name="keyId"
                            value="{{$key.ID}}"
                          />
                          <input type="submit" value="Remove" />
                        </form>
                      </td>
                    </tr>
                    {{else}}
                    <tr>
                      <td colspan="5" class="text-center ghost-text">
                        (No keys)
                      </td>
                    </tr>
                    {{end}}
                  </tbody>
                </table>
                <a href="/profile/add_ssh_key/" class="button">Add Key</a>
              </div>
              <div class="visbox flex column gap-half f-align-stretch">
                <h6>Actions</h6>
                {{if .User.PasswordHash.Valid}}
                <a href="/profile/change_password" class="button">Change Password</a>
                {{end}}
                <form action="/logout" method="POST" class="flex column align-stretch">
                  {{.CsrfField}}
                  <input type="submit" value="Log out" />
                </form>
              </div>
            </div>
          </main>
        </div>
      </div>
    </div>
  </body>
</html>
